<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="vanio_api.security.access_denied_listener.class">Vanio\ApiBundle\Security\AccessDeniedListener</parameter>
        <parameter key="vanio_api.request.filter_param_converter.class">Vanio\ApiBundle\Request\FilterParamConverter</parameter>
        <parameter key="vanio_api.request.properties_param_converter.class">Vanio\ApiBundle\Request\PropertiesParamConverter</parameter>
        <parameter key="vanio_api.serializer.properties_exclusion_strategy.class">Vanio\ApiBundle\Serializer\PropertiesExclusionStrategy</parameter>
        <parameter key="vanio_api.serializer.scalar_object_handler.class">Vanio\ApiBundle\Serializer\ScalarObjectHandler</parameter>
        <parameter key="vanio_api.serializer.uuid_handler.class">Vanio\ApiBundle\Serializer\UuidHandler</parameter>
    </parameters>

    <services>
        <service id="vanio_api.security.access_denied_listener" class="%vanio_api.security.access_denied_listener.class%" public="false" abstract="true">
            <argument type="service" id="security.token_storage"/>
            <argument type="service" id="security.authentication.trust_resolver"/>
            <argument>%vanio_api.access_denied_listener.formats%</argument>
        </service>

        <service id="vanio_api.request.filter_param_converter" class="%vanio_api.request.filter_param_converter.class%" public="false">
            <argument>%vanio_domain.pagination_default_options%</argument>
            <tag name="request.param_converter" priority="1" converter="api_filter"/>
        </service>

        <service id="vanio_api.request.properties_param_converter" class="%vanio_api.request.properties_param_converter.class%" public="false">
            <tag name="request.param_converter" converter="properties"/>
        </service>

        <service id="vanio_api.serializer.properties_exclusion_strategy" class="%vanio_api.serializer.properties_exclusion_strategy.class%" public="true">
            <argument type="service" id="doctrine"/>
        </service>

        <service id="vanio_api.serializer.scalar_object_handler" class="%vanio_api.serializer.scalar_object_handler.class%" public="false">
            <tag name="jms_serializer.subscribing_handler"/>
            <tag name="jms_serializer.event_subscriber"/>
        </service>

        <service id="vanio_api.serializer.uuid_handler" class="%vanio_api.serializer.uuid_handler.class%" public="false">
            <tag name="jms_serializer.subscribing_handler"/>
        </service>
    </services>
</container>
