<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="security.logout.success_handler.class">Vanio\ApiBundle\Security\LogoutSuccessHandler</parameter>
        <parameter key="jms_serializer.metadata.doctrine_type_driver.class">Vanio\ApiBundle\Serializer\DoctrineTypeDriver</parameter>
        <parameter key="vanio_api.security.authentication_failure_handler.class">Vanio\ApiBundle\Security\AuthenticationFailureHandler</parameter>
        <parameter key="vanio_api.security.authentication_success_handler.class">Vanio\ApiBundle\Security\AuthenticationSuccessHandler</parameter>
        <parameter key="vanio_api.security.access_denied_listener.class">Vanio\ApiBundle\Security\AccessDeniedListener</parameter>
        <parameter key="vanio_api.form.entity_type_extension.class">Vanio\ApiBundle\Form\EntityTypeExtension</parameter>
        <parameter key="vanio_api.request.format_listener.class">Vanio\ApiBundle\Request\FormatListener</parameter>
        <parameter key="vanio_api.request.request_body_listener.class">Vanio\ApiBundle\Request\RequestBodyListener</parameter>
        <parameter key="vanio_api.request.cors_listener.class">Vanio\ApiBundle\Request\CorsListener</parameter>
        <parameter key="vanio_api.request.limit_param_converter.class">Vanio\ApiBundle\Request\LimitParamConverter</parameter>
        <parameter key="vanio_api.request.properties_param_converter.class">Vanio\ApiBundle\Request\PropertiesParamConverter</parameter>
        <parameter key="vanio_api.request.query_param_converter.class">Vanio\ApiBundle\Request\QueryParamConverter</parameter>
        <parameter key="vanio_api.request.filter_param_converter.class">Vanio\ApiBundle\Request\FilterParamConverter</parameter>
        <parameter key="vanio_api.serializer.property_naming_strategy.class">JMS\Serializer\Naming\SerializedNameAnnotationStrategy</parameter>
        <parameter key="vanio_api.serializer.properties_exclusion_strategy.class">Vanio\ApiBundle\Serializer\PropertiesExclusionStrategy</parameter>
        <parameter key="vanio_api.serializer.form_error_handler.class">Vanio\ApiBundle\Serializer\FormErrorHandler</parameter>
        <parameter key="vanio_api.serializer.paginator_handler.class">Vanio\ApiBundle\Serializer\PaginatorHandler</parameter>
        <parameter key="vanio_api.serializer.scalar_object_handler.class">Vanio\ApiBundle\Serializer\ScalarObjectHandler</parameter>
        <parameter key="vanio_api.serializer.uuid_handler.class">Vanio\ApiBundle\Serializer\UuidHandler</parameter>
        <parameter key="vanio_api.serializer.file_handler.class">Vanio\ApiBundle\Serializer\FileHandler</parameter>
        <parameter key="vanio_api.serializer.expression_language_provider.class">Vanio\ApiBundle\Serializer\ExpressionLanguageProvider</parameter>
        <parameter key="vanio_api.templating.api_extension.class">Vanio\ApiBundle\Templating\ApiExtension</parameter>
        <parameter key="vanio_api.view.view_listener.class">Vanio\ApiBundle\View\ViewListener</parameter>
        <parameter key="vanio_api.api_doc.filter_describer.class">Vanio\ApiBundle\ApiDoc\FilterDescriber</parameter>
        <parameter key="vanio_api.api_doc.model_describer.class">Vanio\ApiBundle\ApiDoc\ModelDescriber</parameter>
    </parameters>

    <services>
        <defaults public="false"/>

        <service id="security.authentication.listener.api_form" class="Symfony\Component\Security\Http\Firewall\UsernamePasswordFormAuthenticationListener" parent="security.authentication.listener.abstract" public="false" abstract="true"/>

        <service id="security.logout.success_handler" class="%security.logout.success_handler.class%" abstract="true">
            <argument type="service" id="security.http_utils" />
            <argument>/</argument>
            <argument type="service" id="jms_serializer.serializer"/>
        </service>

        <service id="jms_serializer.metadata.doctrine_type_driver" class="%jms_serializer.metadata.doctrine_type_driver.class%" public="false">
            <argument type="service" id="jms_serializer.metadata.chain_driver"/>
            <argument type="service" id="doctrine"/>
            <call method="setTypeMapping"><argument>%vanio_api.serializer_doctrine_type_mapping%</argument></call>
        </service>

        <service id="vanio_api.security.authentication_failure_handler" class="%vanio_api.security.authentication_failure_handler.class%" abstract="true">
            <argument type="service" id="vanio_api.security.authentication_failure_handler.inner"/>
            <argument type="service" id="jms_serializer.serializer"/>
            <argument type="service" id="translator"/>
        </service>

        <service id="vanio_api.security.authentication_success_handler" class="%vanio_api.security.authentication_success_handler.class%" abstract="true">
            <argument type="service" id="vanio_api.security.authentication_success_handler.inner"/>
            <argument type="service" id="jms_serializer.serializer"/>
        </service>

        <service id="vanio_api.security.access_denied_listener" class="%vanio_api.security.access_denied_listener.class%" abstract="true">
            <argument type="service" id="security.token_storage"/>
            <argument type="service" id="security.authentication.trust_resolver"/>
        </service>

        <service id="vanio_api.form.entity_type_extension" class="%vanio_api.form.entity_type_extension.class%">
            <tag name="form.type_extension" extended-type="Symfony\Bridge\Doctrine\Form\Type\EntityType"/>
        </service>

        <service id="vanio_api.request.format_listener" class="%vanio_api.request.format_listener.class%" abstract="true">
            <argument type="service" id="router"/>
            <argument type="service" id="router.default" on-invalid="null"/>
            <argument>%vanio_api.default_acceptable_formats%</argument>
        </service>

        <service id="vanio_api.request.request_body_listener" class="%vanio_api.request.request_body_listener.class%" abstract="true">
            <argument type="service" id="jms_serializer.serializer"/>
            <argument>%vanio_api.default_content_format%</argument>
        </service>

        <service id="vanio_api.request.cors_listener" class="%vanio_api.request.cors_listener.class%" abstract="true">
            <argument>%vanio_api.cors.allow_origins%</argument>
            <argument>%vanio_api.cors.allow_methods%</argument>
            <argument>%vanio_api.cors.allow_headers%</argument>
            <argument>%vanio_api.cors.expose_headers%</argument>
            <argument>%vanio_api.cors.allow_credentials%</argument>
        </service>

        <service id="vanio_api.request.limit_param_converter" class="%vanio_api.request.limit_param_converter.class%">
            <argument>%vanio_api.limit_default_options%</argument>
            <tag name="request.param_converter" converter="limit"/>
        </service>

        <service id="vanio_api.request.properties_param_converter" class="%vanio_api.request.properties_param_converter.class%">
            <tag name="request.param_converter" converter="properties"/>
        </service>

        <service id="vanio_api.request.query_param_converter" class="%vanio_api.request.query_param_converter.class%">
            <tag name="request.param_converter" converter="query"/>
        </service>

        <service id="vanio_api.request.filter_param_converter" class="%vanio_api.request.filter_param_converter.class%">
            <argument>%vanio_api.limit_default_options%</argument>
            <tag name="request.param_converter" priority="1" converter="api_filter"/>
        </service>

        <service id="vanio_api.serializer.property_naming_strategy" class="%vanio_api.serializer.property_naming_strategy.class%">
            <argument type="service" id="jms_serializer.identical_property_naming_strategy"/>
        </service>

        <service id="vanio_api.serializer.properties_exclusion_strategy" class="%vanio_api.serializer.properties_exclusion_strategy.class%" public="true">
            <argument type="service" id="doctrine"/>
        </service>

        <service id="vanio_api.serializer.form_error_handler" class="%vanio_api.serializer.form_error_handler.class%">
            <tag name="jms_serializer.subscribing_handler"/>
        </service>

        <service id="vanio_api.serializer.paginator_handler" class="%vanio_api.serializer.paginator_handler.class%">
            <tag name="jms_serializer.subscribing_handler"/>
        </service>

        <service id="vanio_api.serializer.scalar_object_handler" class="%vanio_api.serializer.scalar_object_handler.class%">
            <tag name="jms_serializer.subscribing_handler"/>
            <tag name="jms_serializer.event_subscriber"/>
        </service>

        <service id="vanio_api.serializer.uuid_handler" class="%vanio_api.serializer.uuid_handler.class%">
            <tag name="jms_serializer.subscribing_handler"/>
            <tag name="jms_serializer.event_subscriber"/>
        </service>

        <service id="vanio_api.serializer.file_handler" class="%vanio_api.serializer.file_handler.class%">
            <tag name="jms_serializer.subscribing_handler"/>
        </service>

        <service id="vanio_api.serializer.expression_language_provider" class="%vanio_api.serializer.expression_language_provider.class%">
            <argument type="service" id="doctrine"/>
        </service>

        <service id="vanio_api.templating.api_extension" class="%vanio_api.templating.api_extension.class%">
            <argument type="service" id="jms_serializer.serializer"/>
            <argument>%vanio_api.api_doc_request_with_credentials%</argument>
            <tag name="twig.extension"/>
        </service>

        <service id="vanio_api.view.view_listener" class="%vanio_api.view.view_listener.class%">
            <argument type="service" id="jms_serializer.serializer"/>
            <argument type="service" id="jms_serializer.serialization_context_factory"/>
            <argument type="service" id="vanio_api.serializer.properties_exclusion_strategy"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="vanio_api.api_doc.filter_describer" class="%vanio_api.api_doc.filter_describer.class%">
            <tag name="nelmio_api_doc.route_describer"/>
        </service>

        <service id="vanio_api.api_doc.model_describer" class="%vanio_api.api_doc.model_describer.class%" abstract="true">
            <argument type="service" id="vanio_api.api_doc.model_describer.inner"/>
            <argument type="service" id="jms_serializer.metadata_factory"/>
            <argument type="service" id="jms_serializer.naming_strategy"/>
            <call method="setTypeMapping"><argument>%vanio_api.api_doc_type_mapping%</argument></call>
        </service>
    </services>
</container>
